@import "tailwindcss";

:root {
  --background: #FFFCFD;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --primary: #F76F30;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFCFD;
    --foreground: #121928;
    --primary: #F76F30;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
